VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_ASV_ID=default
VITE_ASV_DATA_MODE=fixture
VITE_ASV_SURFACE_STREAM_URL=https://monitor-kapal-pora-pora.web.id/stream/atas
VITE_ASV_UNDERWATER_STREAM_URL=https://monitor-kapal-pora-pora.web.id/stream/bawah
